<div class="submenu">
	<h2>Категории</h2>
	<ul class="nav">
		<% Category.all.each do |category| %>
			<li class="nav-item">
				<%= link_to category.name, category, class: "nav-link #{'active' if current_page?(category_path(category))}" %>
			</li>
		<% end %>
	</ul>
</div>